@import url("https://fonts.googleapis.com/css2?family=Cabin&family=IBM+Plex+Sans:wght@700&family=Plus+Jakarta+Sans:wght@600&display=swap");

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

h2,
h3,
h4,
h5 {
  color: #1f2647e6;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.03rem;
  line-height: 1.1;
}

h2 {
  font-size: 49px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.03rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

p {
  font-size: 1.2rem;
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  left: 70px;
  right: 70px;
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 65px, transparent 65px);
  background-size: 85px 85px; /* 65px column + 20px gutter */
  pointer-events: none; /* Allows clicking through the grid */
  z-index: 10000; /* Ensures the grid is above everything else */
}

.hero-section {
  position: relative;
  height: 100vh;
  background: url(../images/hero.jpeg) no-repeat center center/cover;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(16, 19, 35, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  margin-top: 100px;
  margin-bottom: 3rem;
  color: white;
  max-width: 700px;
}

.hero-content p {
  color: white;
  margin-bottom: 3rem;
}

.hero-content button {
  background: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: large;
}

/* CSS for floating navbar */
.navbar {
  background: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
  margin-top: 110px;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
}

#nav-link-services-top {
  list-style-type: none;
  padding: 0px;
}

#nav-link-services-light {
  color: #1f2647e6;
  border-bottom: 1px solid #707070;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100%;
  padding: 20px 0px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

#nav-link-services-dark {
  color: white;
  border-bottom: 1px solid #707070;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100%;
  padding: 20px 0px;
  font-weight: 600;
}

#nav-link-services-light:hover {
  border-bottom: 1px solid #007bff;
}

#nav-link-services-dark:hover {
  border-bottom: 1px solid #007bff;
  color: #007bff;
}

.nav-item {
  padding-right: 30px;
}

.section-heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 738px;
  margin-bottom: 25px;
}

.section-2 {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-2-col {
  padding: 0rem 1.25rem;
  text-align: center;
}

.section-2-icon {
  padding-bottom: 20px;
}

.section-2-subheading {
  padding-bottom: 5px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.section-2-1 {
  align-items: center;
}

.section-2-2 {
  margin-block-start: 4rem;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.section-3 {
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-3-col {
  padding: 0rem 1.25rem;
  vertical-align: bottom;
}

.section-3-img {
  width: 146px;
}

.section-3-1 {
  align-items: center;
}

.section-3-2 {
  margin-block-start: 4rem;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
}

.section-4 {
  align-items: center;
  text-align: left;
  max-width: 1080px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.section-4-row {
  flex-wrap: nowrap;
}

.section-4-img {
  height: 500px;
  width: 400px;
  border-radius: 8px;
  margin-bottom: 12.5px;
}

.section-4-menu-items {
  column-count: 2;
  column-gap: 50px;
}

.section-4-heading {
  padding-bottom: 15px;
}

.section-4-content {
  padding-bottom: 35px;
}

.section-4-1 {
  border-right: 1px solid #e2e8ec;
  padding-right: 50px;
}

.section-4-2 {
  margin-left: 40px;
}

.section-4-2-heading {
  color: #707070;
  letter-spacing: 0.1rem;
  margin-bottom: 25px;
}

.section-5 {
  align-items: center;
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #1f2647e6;
}

.section-5-row {
  flex-wrap: nowrap;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.section-5-img {
  height: 500px;
  width: 400px;
  border-radius: 8px;
  margin-bottom: 12.5px;
}

.section-5-menu-items {
  column-count: 2;
  column-gap: 50px;
}

.section-5-heading {
  padding-bottom: 15px;
  color: white;
}

.section-5-content {
  padding-bottom: 35px;
  color: white;
}

.section-5-1 {
  border-right: 1px solid #e2e8ec;
  padding-right: 50px;
}

.section-5-2 {
  margin-left: 40px;
}

.section-5-2-heading {
  color: #707070;
  letter-spacing: 0.1rem;
  margin-bottom: 25px;
}

.section-5-2-content {
  color: white;
}

.section-6 {
  align-items: center;
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f7f7f7;
}

.section-6-1-heading {
  margin:25px 0px;
}

.section-6-row-1 {
  flex-wrap: nowrap;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.section-6-row-2 {
  flex-wrap: nowrap;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.section-6-1 {
  text-align: center;
  padding-bottom: 25px ;
}

.section-6-2 {
  background-color: white;
  margin: 10px;
  padding: 24px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.section-6-2-p {
  padding-top: 15px;
  padding-bottom: 25px;
}

.section-6-3 {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #3f72af;
}

.section-6-3-img {
  width: 20px;
  height: 20px;
}

.section-7 {
  color: white;
  background-color: #1f2647e6;
  align-items: center;
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-7-1 {
  text-align: center;
  padding-bottom: 25px;
}

.section-7-1-title {
  color: white;
}

.section-7-1-heading {
  padding: 25px 0px;
  color: white;
}

.section-7-2 {
  flex-wrap: nowrap;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  gap: 80px;
}

.section-7-2-1-img {
  width: 80px;
  padding-bottom: 25px;
}

.section-8 {
  background-color: #f7f7f7;
  align-items: center;
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-8-1-heading {
  padding: 25px 0px;
}

.section-8-1 {
  text-align: center;
  padding-bottom: 25px;
}

.section-8-2 {
  display: flex; /* Added */
  flex-wrap: wrap; /* Changed from nowrap to wrap */
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  gap: 25px;
  align-items: stretch; /* Added */
}

.section-8-2-box {
  display: flex; /* Added */
  flex-direction: column; /* Added */
  justify-content: space-between; /* Modified */
  text-align: left;
  background-color: white;
  padding: 25px 25px 0px 25px;
  border-radius: 10px;
  /* ... other styles ... */
}

.section-8-2-box-p {
  padding: 10px 0px;
  display: flex;
  flex-direction: column; /* Added */
  justify-content: center; /* Added */
}

.section-8-2-img {
  height: 55px;
  width: 55px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-right: 25px;
}

.section-8-2-profile {
  margin-top: auto;
  display: flex;
  flex-wrap: nowrap;
}

.section-8-2-name {
  font-weight: 600;
  margin: 0px;
}

.section-9 {
  text-align: center;

}

.section-9-p {
  padding: 25px 0px;
}

.contact-section {
  position: relative;
  height: 100vh;
  background: url(../images/contact-2.jpg) no-repeat center center/cover;
  max-height: 640px;
}

.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1f2647e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-content {
  color: white;
  max-width: 720px;
}

.contact-h2 {
  color: white;
}

.contact-content button {
  background: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: large;
}

.footer {
  align-items: center;
  text-align: center;
  background-color: #1f2647e6;

  }

.footer-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 6rem;
  padding-bottom: 4rem;
  text-align: center;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

.footer-content {
flex: 1;
display: flex;
flex-direction: column;
text-align: left;
color: white;
justify-content: space-between;
}

.footer-h2 {
  color: #bdbdbd;
  padding-bottom: 10px;
}

.footer-socials {
  margin-top: 120px;
}

.footer-socials img {
margin: 0px 10px;
width: 30px;
}

.footer-list {
  list-style-type: none;
  text-align: left;
  padding: 25px;
  color: white;
}

.footer-list li {
  border-top: 1px solid #bdbdbd;
  padding: 20px 0px;
}

.footer-list li a {
  text-decoration: none;
  color: inherit;
  font-size: large;
}